
#surveyForm {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: -60px;
}

.drop-shadow {
    box-shadow: 0px 2px 8px #000;
}

.login-screen {
    background-color: #444;
    height: auto;
    padding-bottom: 50px;
}

.welcome-container {
    background-color: #fff;
    text-align: center;
    width: 800px;
}

    .welcome-container h2 {
        color: #333333;
    }

.logo {
    padding-bottom: 30px;
} 

.text-left {
    text-align:left;
}

.rating-stars .button .material-icons {
    font-size: 40px;
    margin-left:10px;
    margin-right:10px;
}

/*.rating-stars .star-button.star-on .material-icons {
    color: #003399;
}

.rating-stars .star-button.star-off .material-icons {
    color: #99ccff;
}*/

md-input-container {
    margin-top:-10px;
    margin-bottom:0px;
    padding-bottom:0px;
}

.btn-submit {
    width: 300px;
    color: #333333 !important;
    font-weight: bold;
    padding: 5px;
    font-size: 1.3em;
}